{
    "extends": "stylelint-config-standard-scss",
    "plugins": [
        "stylelint-order"
    ],
    "rules": {
        "order/properties-alphabetical-order": null,
        "selector-id-pattern": "[a-zA-Z]+(?:_[a-zA-Z]+)*",
        "selector-class-pattern": "[a-zA-Z]+(?:_[a-zA-Z]+)*",
        "no-descending-specificity": null,
        "media-feature-range-notation": null
    }
}
